/* Header.css */
.header {
    background-color: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
}

.company-name-div{
    padding-left:40px;
    font-style: normal;
    width: 20%;
}
.company-name{
    color: #4169E1;
    font-size: 10px;
    text-decoration: none;
}
h1 {
    margin: auto;
    font-weight: bold;
}

.nav-section{
    width: 55%;
    /* height: 100%; */
}
.config_section{
    width: 25%;
}
.tasklist {
    float: left;
    margin-left: 17%;
    
}

.helperlist {
    float: right;
    margin-right: 20%;
}

.link {
    font-weight: 400;
    color: black;
    font-family: ABeeZee;
    font-size: 15px;
    font-style: normal;
    position: relative;
    line-height: normal;
    text-decoration: none;
}

.link::after {
    position: absolute;
    left: -10%;
    content: '';
    height: 3px;
    background: #4169E1;
    position: absolute;
    width: 120%;
    bottom: -15px;
    visibility: hidden;
    opacity: 0;
}


.link:hover::after {
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
}

.signin {
    text-decoration: none;
    float: right;
    background-color: #4169E1;
    color: #fff;
    margin-right: 40px;
    padding: 5px 12px;
    border-radius: 8px;
}
.signup {
    text-decoration: none;
    margin-right: 40px;
    float: right;
    background-color: #4169E1;
    color: #fff;
    padding: 5px 12px;
    border-radius: 8px;

}
.button:hover{
    background-color: #4875FA;
}
ul{
    margin: auto;
}