/* Header.css */
.header {
    background-color: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
}

.company-name-div{
    padding-left:40px;
    font-style: normal;
    width: 20%;
}
.company-name{
    color: #4169E1;
    font-size: 10px;
    text-decoration: none;
}
h1 {
    margin: auto;
    font-weight: bold;
}

.nav-section{
    width: 60%;
    height: 100%;
}
.config_section{
    width: 20%;
}
.tasklist {
    float: left;
    color: #515151;
    font-family: ABeeZee;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    margin-left: 10%;
    line-height: normal;
    text-decoration: none;
}
.tasklist:hover {
    color: red
}

.helperlist {
    float: right;
    color: #515151;
    font-family: ABeeZee;
    font-size: 15px;
    font-style: normal;
    margin-right: 40%;
    font-weight: 400;
    text-decoration: none;
    line-height: normal;
}
.helperlist:hover {
    color: red
}