#email {
    padding: 0 14% 0 2%;
    display: block;
    width:83%;
    height: 35px;
}
#password {
    padding: 0 14% 0 2%;
    display: block;
    width: 83%;
    height: 35px;
}
#name {
    padding: 0 14% 0 2%;
    display: block;
    width: 83%;
    height: 35px;
}
#passwordConfirmation {
    padding: 0 14% 0 2%;
    display: block;
    width: 83%;
    height: 35px;
}
#university {
    padding: 0 14% 0 2%;
    display: block;
    width: 83%;
    height: 35px;
}
.input-wrapper {
    padding: auto;
    margin: auto;
    display: block;
    width: 100%;
    position: relative;
}
.PasswordReveal {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.PasswordReveal i {
    color: #333;
    font-size: 1rem;
}