<p><%= @user %>様、example.comへようこそ。</p>
<p>===============================================</p>
<p>example.comへのサインアップが成功しました。</p>
<p>このサイトにログインするには、
<p><%= link_to 'Confirm my account',  "#{ENV['FRONTEND_LINK']}/user_confirmation?confirmation_token=#{@token}" %></p>
<p>これでテストは終了です！おめでとう！</p>